.copyright {
  /* background: #102941; */
  padding: 1rem;
}

.copyright a {
  text-decoration: none;
  color: #f3ec07;
}
.copyright a:hover {
  text-decoration: none;
  color: #f3ec07;
}

.footerNav a {
  color: aliceblue !important;
}
.footerNav a:hover {
  text-decoration: none;
  color: #f3ec07 !important;
  font-size: 102%;
}

.footerMain {
  /* background-color: #0d3b66; */
  background-image: url("/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
}

.icons {
  color: whitesmoke;
}

.icons:hover {
  color: #f3ec07;
}
