.copyright {
  padding: 1rem;
}

.copyright a {
  text-decoration: none;
  color: #f3ec07;
}
.copyright a:hover {
  text-decoration: none;
  color: #f3ec07;
}

.footerNav a {
  color: aliceblue !important;
  display: block;
  padding: 5px;
  margin: 10px;
}
.footerNav a:hover {
  text-decoration: none;
  color: #f3ec07 !important;
  font-size: 102%;
}

.footerMain {
  background-image: url("/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
}

.brandIcon {
  width: 180px;
}

.icons {
  color: whitesmoke;
}

.icons:hover {
  color: #f3ec07;
}
