@font-face {
  font-family: san-francisco-pro;
  src: url("/FontsFree-Net-SFProDisplay-Regular.ttf");
}

* {
  font-family: san-francisco-pro;
}

html {
  margin: 0px;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: whitesmoke;
}

img {
  max-width: 100%;
  height: auto;
}

.text-yellow {
  color: #f3ec07;
}
.outline-yellow {
  color: #f3ec07;
  background-color: transparent;
  border-color: #f3ec07;
}
.outline-yellow:hover,
.outline-yellow:focus {
  color: #0d3b66;
  background-color: #f3ec07;
  border-color: #f3ec07;
}

.mainJumbotron {
  background-attachment: fixed;
  background-color: #000022;
  background-image: url("/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotronHead {
  font-size: 7vw;
}

@media screen and (max-width: 992px) {
  .jumbotronHead {
    font-size: 12vw;
  }
  .quicksplainedHead {
    font-size: 9vw;
  }
}

.jumbotronSubhead,
.quicksplainedSubhead,
.quicksplainedMobileText {
  font-size: 2vw;
}

.quicksplainedHead {
  font-size: 4vw;
}

.quicksplainedMobileText {
  padding-top: 10vw;
}

.quicksplainedMobileText-sm {
  font-size: 4vw;
  max-width: 30vw;
  transform: translateY(-77vw);
  color: #000022 !important;
}

.gsc-control-cse {
  border-color: transparent !important;
  background-color: transparent !important;
}

.gsc-input-box {
  border: transparent !important;
  border-radius: 5px !important;
  background: transparent !important;
}

#gsc-i-id1::placeholder {
  color: whitesmoke;
}

td input {
  background-color: transparent !important;
  color: whitesmoke !important;
}

.table.gsc-search-box td.gsc-input {
  padding-right: 0;
}

.gsc-search-button-v2 {
  padding: 11px 12px !important;
  border-color: transparent !important;
  background-color: transparent !important;
}

.gsc-search-button-v2,
.gsc-search-button-v2:hover,
.gsc-search-button-v2:focus {
  border-color: transparent !important;
  background-color: transparent !important;
}

.gsc-control-wrapper-cse {
  border: 1px solid #dfe1e5;
  border-radius: 5px;
}

.qsp-btn-xs {
  font-size: xx-small;
}

.tags {
  border-color: #0d3b66;
  color: #0d3b66;
}

.tags:hover {
  background-color: #0d3b66;
  border-color: #0d3b66;
  color: white;
}
.tags:hover a {
  color: white;
}

.tags a {
  color: #0d3b66;
}

.tags a:hover {
  color: white;
  text-decoration: none;
}

.vl {
  border-left: 1px solid black;
  height: 75%;
}

.circular-img {
  background-size: cover;
  background-position: center;
  border-radius: 50% 50% 50% 50%;
}

.author-anchor a {
  color: #0d3b66;
}

.author-anchor a:hover {
  text-decoration: none;
}

.anchor-link a {
  color: inherit;
}

.anchor-link a:hover {
  text-decoration: none;
}

.gradient-text {
  background-color: #f3ec78;
  background-image: url("/background.svg");
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.hideOverflowX {
  overflow-x: "hidden";
}

.anchor {
  color: inherit;
}
.anchor:hover {
  color: inherit;
  text-decoration: none;
}

.carousel-control-prev,
.carousel-control-next {
  height: 75%;
}
