@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap");

html {
  margin: 0px;
  padding: 0;
}

body {
  background-image: url(../public/SILVER-min.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

img {
  max-width: 100%;
  height: auto;
}

.monotone {
  font-family: "Monoton";
}

.mainJumbotron {
  background-image: url(../public/Background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.jumbotronHead {
  font-size: 7vw;
}

.jumbotronSubhead {
  font-size: 2vw;
}
