@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

@font-face {
  font-family: san-francisco-pro;
  src: url("/FontsFree-Net-SFProDisplay-Regular.ttf");
}

* {
  font-family: san-francisco-pro;
}

html {
  margin: 0px;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-color: whitesmoke;
}

img {
  max-width: 100%;
  height: auto;
}

.monotone {
  font-family: "Monoton";
}

.mainJumbotron {
  background-attachment: fixed;
  background-color: #000022;
  background-image: url("/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotronHead {
  font-size: 7vw;
}

.jumbotronSubhead,
.quicksplainedSubhead,
.quicksplainedMobileText {
  font-size: 2vw;
}

.quicksplainedHead {
  font-size: 4vw;
}

.quicksplainedMobileText {
  padding-top: 10vw;
}

.quicksplainedMobileText-sm {
  font-size: 4vw;
  max-width: 30vw;
  transform: translateY(-77vw);
  color: #000022 !important;
}

.gsc-control-cse {
  border-color: transparent !important;
  background-color: transparent !important;
}

.gsc-input-box {
  border: transparent !important;
  border-radius: 5px !important;
  background: transparent !important;
}

td input {
  background-color: transparent !important;
  color: whitesmoke !important;
}

.table.gsc-search-box td.gsc-input {
  padding-right: 0;
}

.gsc-search-button-v2 {
  padding: 11px 12px !important;
  border-color: transparent !important;
  background-color: transparent !important;
}

.gsc-search-button-v2,
.gsc-search-button-v2:hover,
.gsc-search-button-v2:focus {
  border-color: transparent !important;
  background-color: transparent !important;
}

.gsc-control-wrapper-cse {
  border: 1px solid #dfe1e5;
  border-radius: 5px;
}

.qsp-btn-xs {
  font-size: xx-small;
}
