.cardShadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background-color: rgb(255, 255, 255, 0.6);
  text-align: center;
}

.cardMedia {
  height: 95%;
  margin: 20px;
  display: flex;
}

@media screen and (max-width: 992px) {
  .cardMedia {
    height: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  .cardMedia {
    height: auto;
    width: auto;
  }
}
