.routes {
  display: block;
  padding: 5px;
  margin: 10px;
}
.routes a {
  color: white !important;
}
.routes :hover {
  text-decoration: none;
  color: rgb(211, 221, 230);
}
.navBackground {
  background-attachment: fixed;
  background-color: #000022;
  background-image: url("/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.BrandIcon {
  width: 50px;
}

.dropdownNavbar a {
  color: #0d3b66;
}

.dropdownNavbar a:hover {
  text-decoration: none;
  color: #0d3b66;
}

.navbarDropdownCollapse {
  background-color: rgb(0, 0, 0, 0.1);
}
