.cardMain {
  margin: 4px;
  background-color: transparent;
  border: none;
}
.cardTitle {
  font-size: 25px;
}

.cardImg {
  background-size: cover;
  background-position: center;
  height: 20rem;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .cardTitle {
    font-size: 20px;
  }
  .cardImg {
    height: 15rem;
  }
}

@media screen and (max-width: 768px) {
  .cardTitle {
    font-size: 15px;
  }
  .cardImg {
    height: 10rem;
  }
}

@media screen and (max-width: 576px) {
  .cardImg {
    height: 8rem;
  }
}
